* {
    margin:0;
    padding:0;
    border:0;
    font-size: 100%;
    font:inherit;
}
body{
    background-image: url('pics/producebord.jpeg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 3000px;
}
.main{
    display:flex;
    justify-content: space-between;
    width:auto;
    height:fit-content;


}
.main h3{
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.main li{
    display: inline-block;
    list-style: none;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.main a{
    color: aliceblue;
    text-decoration: none;
}
.main a:hover{
    background-color: rgba(17, 13, 13, .2);
    border-radius: 5px;
    padding: 5px;
}
.lefthead{

    background-color: rgba(8, 124, 124, .5);
    width: 100%;
    padding-left: 8%;
    padding-top: 5%;
    height: fit-content;
}
.righthead{
    width: 100%;
    background-color: rgba(149, 253, 253, 0.5);
    text-align: right;
    padding-right: 8%;
    padding-top: 5%;
    height: fit-content;
}
hr{
    height: 3px;
    background-color: rgb(255, 249, 242);
}
.middlestuff{
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    height: 66vh;
    /* background-color: rgba(202, 145, 145, .5); */
    margin-top: 20vh;
}
.middlestuff h1{
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    color: beige;
    text-align: center;
}
.middlestuff hr{
    margin: 20px 20px ;

}
.middlestuff h3{
    color: beige;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 300%;
    margin-top: 20px;
    font-weight:normal;
}