* {
    margin:0;
    padding:0;
    border:0;
    font-size: 100%;
    font:inherit;
}
body{
    background-image: url('pics/producebord.jpeg');
    background-color: rgb(206, 202, 202);
    background-blend-mode:multiply;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
}
.firstpage{
    height: 100vh;
}
.main{
    display:flex;
    justify-content: space-between;
    width:auto;
    height:fit-content;


}
.main h3{
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.main li{
    display: inline-block;
    list-style: none;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.main a{
    color: aliceblue;
    text-decoration: none;
}
.main a:hover{
    background-color: rgba(17, 13, 13, .2);
    border-radius: 5px;
    padding: 5px;
}
.lefthead{

    /* background-color: rgba(8, 124, 124, .5); */
    width: 100%;
    padding-left: 8%;
    padding-top: 5%;
    height: fit-content;
}
.righthead{
    width: 100%;
    /* background-color: rgba(149, 253, 253, 0.5); */
    text-align: right;
    padding-right: 8%;
    padding-top: 5%;
    height: fit-content;
}
hr{
    height: 2px;
    background-color: rgb(255, 249, 242);
}
.middlestuff{
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    height: 66vh;
    /* background-color: rgba(202, 145, 145, .5); */
    margin-top: 20vh;
}
.middlestuff h1{
    font-size: 7vw;
    font-family: 'Poppins', sans-serif;
    color: beige;
    text-align: center;
}
.middlestuff hr{
    margin: 2vw 30vw;
}
.middlestuff h3{
    color: beige;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 4vw;
    margin-top: 20px;
    font-weight:normal;
}
.second{
    display: flex;
}
.secleft{
    background-image: url('pics/bread.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    height:500px;
    width: 204vh;
    margin-right: 0;
}
.secright{
    background-color: rgb(3, 3, 3);
    flex-basis: 160%;
    height: 500px;
    width: 100%;
    padding:0;
}
.secright h2{
    padding:10% 0% 0% 10%;
    font-size: 3vw;
    font-weight:400;
    color: beige;
    font-family: sans-serif;
}
.secright p{
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 0%;
    color: beige;
    font-family: 'Heebo', sans-serif;
    font-size:2vw;
}
.third{
    display: flex;
}
.thirdleft{
    background-image: url('pics/pineapple.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    height:500px;
    width: 204vh;
    margin-right: 0;
    order:2;
}
.thirdright{
    background-color: rgb(20, 20, 20);
    flex-basis: 160%;
    height: 500px;
    width: 100%;
    padding:0;
    order:1;
}
.thirdright h2{
    padding:10% 0% 0% 10%;
    font-size: 3vw;
    font-weight:400;
    color: beige;
    font-family: sans-serif;
}
.thirdright p{
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 0%;
    color: beige;
    font-family: 'Heebo', sans-serif;
    font-size:2vw;
}
.fourth{
    display: flex;
}
.fourthleft{
    background-image: url('pics/pasta.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    height:500px;
    width: 75vw;
    margin-right: 0;
}
.fourthright{
    background-color: rgb(3, 3, 3);
    flex-basis: 160%;
    height: 500px;
    width: 100%;
    padding:0;
}
.fourthright h2{
    padding:10% 0% 0% 10%;
    font-size: 3vw;
    font-weight:400;
    color: beige;
    font-family: sans-serif;
}
.fourthright p{
    padding-top: 5%;
    padding-left: 10%;
    color: beige;
    font-family: 'Heebo', sans-serif;
    font-size:2vw;
}