* {
    margin:0;
    padding:0;
    border:0;
    font-size: 100%;
    font:inherit;
}
.main{
    display:flex;
    
    background-image: url('pics/cuttingb.jpg');
    justify-content: space-between;
    width:100%;
    height:300px;

}
.main h3{
    color: aliceblue;
    
}

.main li{
    display: inline-block;
    list-style: none;
    
    
}
.main a{
    color: aliceblue;
    text-decoration: none;
}
.lefthead{

    background-color: rgba(8, 124, 124, .5);
    width: 100%;
}
.righthead{
    width: 100%;
    background-color: rgba(149, 253, 253, 0.5);
    text-align: right;
}